venv/
*.sqlite3
.DS_Store
.idea/
media/
db.sqlite3
gramm/__pycache__/
gramm/migrations/__pycache__/
DjangoGramm/DjangoGramm/__pycache__/
DjangoGramm/gramm/__pycache__/
DjangoGramm/gramm/migrations/__pycache__/
DjangoGramm/gramm/tests/__pycache__/


