{% extends 'gramm/base.html' %}
{% load static %}
{% block title %}
DjangoGramm
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
{% for item in context %}
<div class="container-sm">
    <div style="max-width: 600px;" class="mx-auto">
        <div class="card mb-3">
            <img src="media/{{ item.post.photo }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'account' user_id=item.post.user.id %}">
                        {{ item.post.user.username }}
                    </a>
                </h5>
                <p class="card-text">{{ item.post.description }}</p>
                <h5 class="card-title">
                    <button type="button" class="btn btn-info like-btn" data-post="{{ item.post.pk }}">Лайк</button>
                    <p class="card-text likes-count" id="likes-count-{{ item.post.pk }}">
                        <small class="text-body-secondary">{{ item.like_count }}</small>
                    </p>
                </h5>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.like-btn').click(function() {
        var postID = $(this).data('post');
        var likeCountElement = $('#likes-count-' + postID);

        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: {
                'post_id': postID,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                likeCountElement.text(response.like_count);
            },
            error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
});
</script>
{% endfor %}
{% endif %}
{% endblock %}